body {
    background-color: rgb(73, 102, 129);
    
}

h3 {
    color:rgb(1, 30, 80);
}

h2 {
    color: #1222ff;
}

#name {
    color:rgb(255, 200, 0);
}

#welcome {
    color:rgb(250, 142, 0);
}

#software {
    font-size: 3vw;
    font-weight: bold;
    background: -webkit-linear-gradient(#ffd30e, #17c250);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#button1 {
    background-color: aqua;
}

#button2 {
    background-color: red;
}