body {
    background-color: rgb(1, 24, 46);
    margin-top: 0;
}

h3 {
    color:rgb(146, 171, 214);
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    font-weight: 100;
}

h2 {
    color:rgb(197, 209, 236);
}

p {
    color: rgb(165, 189, 229);
    font-size: 1.4vw;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(12px);
}

nav {
    margin-top: 2em;
    float: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-left: 5vw;
    margin-right: 5vw;
}

nav a {
    color: rgb(165, 189, 229);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.button {
    display: inline-block;
}

.resume {
    padding: 12px 50px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}
.resume::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.resume:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.resume::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.05,1.05);
}
.resume:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

#empty {
    margin-top: 5%;
}

#menu {
    margin-top: 20%;
    margin-left: 20vw;
    padding-left: min(50px, 5%);
    padding-right: min(50px, 5%);
}

#name {
    color:rgb(197, 209, 236);
    padding-bottom: 0.5%;
    text-align: center;
    position: relative;
    font-size: 5vw;
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    z-index: 3;
}

#welcome {
    color:rgb(126, 140, 202);
    text-align: center;
    font-size: 5vw;
    font-family: 'Italianno', cursive;
    font-weight: 100;
}

#software {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    background: -webkit-linear-gradient(#fcff4c, #0f9e3f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sticky {
    position: sticky;
    top: 0;
    z-index: 3;
    margin-left: 32vw;
    margin-right: 32vw;
}

#blur {
    -webkit-backdrop-filter: blur(12px);

}

#aboutMe {
    font-family: 'Inter',sans-serif;
    font-size: 3vw;
    display: inline-block;
    width: 15em;
}

#aboutMe:after {
    background-color: rgb(165, 189, 229, 0.3);
    content: "";
    display: inline-block;
    height: 1px;
    position: static;
    vertical-align: middle;
    width: 30%;
    left: 0.75em;
    margin-left: 2vw;
}

#education {
    font-family: 'Inter',sans-serif;
    font-size: 3vw;
    display: inline-block;
    width: 15em;
}

#education:after {
    background-color: rgb(165, 189, 229, 0.3);
    content: "";
    display: inline-block;
    height: 1px;
    position: static;
    vertical-align: middle;
    width: 30%;
    left: 0.75em;
    margin-left: 2vw;
}

#degree {
    font-size: 2vw;
}

#BS {
    font-size: 1.6vw;
    font-family: 'Lato', sans-serif;
    color:rgb(93, 130, 192);
    font-weight: bold;
}

#projectTitle {
    font-family: 'Inter',sans-serif;
    font-size: 3vw;
    display: inline-block;
    width: 15em;
}

#projectTitle:after {
    background-color: rgb(165, 189, 229, 0.3);
    content: "";
    display: inline-block;
    height: 1px;
    position: static;
    vertical-align: middle;
    width: 30%;
    left: 0.75em;
    margin-left: 2vw;
}

.hidden {
    display: inline-block;
    opacity: 0;
    filter: blur(12px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.descriptionAboutMe {
    min-height: 50vh;
    transition-delay: 500ms;
}

.descriptionEducation {
    min-height: 50vh;
    transition-delay: 500ms;
}

.descriptionProjects {
    min-height: 50vh;
    transition-delay: 500ms;
}

.email {
    position: sticky;
    position: -webkit-sticky;
    top: 30%;
    display: block;
}

#emailContainer {
    writing-mode: vertical-rl;
    float: right;
    padding: 10px;
    font-size: 15px;
    font-family: 'SF Mono',monospace;
    margin-top: 15%;
    margin-right: 2%;
    margin-bottom: 10%;
}

#emailLink {
    color: rgb(165, 189, 229);
    padding: 0%;
    background-image: linear-gradient(
    to right,
    rgb(0, 14, 212),
    rgb(165, 189, 229)
    );
    background-size: 500% 100%;
    background-position: 100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}
#emailLink:hover {
    transform: translateY(-5px);
    background-position: 0;
}
.email a:link {
    text-decoration: none;
}
.email a:visited {
    text-decoration: none;
}
.email a:hover {
    text-decoration: none;
}
.email a:active {
    text-decoration: none;
}

#line {
    display: inline-block;
    position: absolute;
    margin-right: 10px;
    margin-top: 15px;
    height: 100vh;
    border-right: 1px solid rgb(165, 189, 229, 0.5);
}